a#link-1:link {
    color: green;
}

a:visited {
    color: red;
}

a:hover {
    background-color: aqua;
}

div.tabela > div.klient:first-child {
    background-color: aqua;
}

div.tabela > div.klient:last-child {
    background-color: blue;
}

div.tabela :nth-child(5) {
    background-color: blueviolet;
}

div.tabela :nth-child(4n + 5) {
    background-color: aquamarine;
}